# Ignore components
docs/source/components.rst
docs/source/events.rst

# Ignore node_modules
node_modules/
package-lock.json

# Distribution / packaging
web-ui/

# Build
/docs/src
build/

# Log
*.log

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Coverage
coverage/